body{
	/*background-image: url(https://live.staticflickr.com/65535/48978999151_8e0379c387_k.jpg);*/
	height:100%;
	width:100%;

	background-image:url(https://live.staticflickr.com/65535/48978999151_8e0379c387_k.jpg);  /*your background image*/  
	background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
	background-size:cover;/*this sets the image to fullscreen covering the whole screen*/  
	

  /*css hack for ie*/     
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
	-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";

	font-family: 'Roboto', sans-serif;
  color: black;
}


div.transbox {
  margin: 30px;
  background-color: white;
  border: 1px ;
  border-radius: 20px;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}


/* Box styles */
.myBox {
  background-color: white;
  position: relative;
  opacity: 0.8;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 10px;
  font: 24px/36px;
  height: 350px;
  /*overflow: scroll;*/

}

td{
  color: black;
}

ul .inside{
  overflow: hidden;
  display: none;
  list-style-type: disc;
  background-color: #7A6660;
  border-radius: 20px;
  opacity: 0.8; 
  font-weight: bold;
}

.child {
  list-style-type: none;
}

li a.panels {

  opacity: 0.8;
  text-align: center;
  margin: .5em 0;
  width: 100%;
  display: block;
  background: white;
  color: black;
  padding: .75em;
  border-radius:20px;
  transition: background .3s ease;
  text-decoration: none;
  font-weight: bolder;
  font-style: italic;
  font-size: 19px;

}

.acc-list a:hover {
  text-decoration: none;
  margin: .5em 0;
  background: #7A6660;
  color: black;
}

.photo{
  border-radius: 20px;
  filter: grayscale(100%);
  background: #C4C4C4;
  border: 10px solid #746B69;
  display: block;


  /*margin-left: auto;
  margin-right: auto;*/
    
}

/* unvisited link */
a:link{
  
  color: black;
}

/* visited link */
a:visited{
  
  color: black;
}

/* mouse over link, active link */
a:hover, a:active{
  
  color: #7A6660;
  /*background-color: #EDCFC4;*/
  text-decoration: none;
}

  


