{% extends 'base.html' %}
{% load static %}

{% block title %}My Profile ☀{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}" title="light" />
<link rel="stylesheet" href="{% static 'css/style2.css' %}" title="dark" />
{% endblock %}  
   
   
{% block content %}


<div class="container" style="margin-top: 120px;">

	<div class=transbox style="text-align: center; font-weight: bold; font-size: 20px;">
		<a href="{% url 'login' %}" id="login-but"> Login </a>
	    
	</div>
	    
    <div style="text-align: center;">
    	<div class="display-1" style="font-weight: bold; font-style: italic; color: white; -webkit-text-stroke: 4px #7A6660; ">Welcome</div>    	

    	<div class=transbox>
    		<h1 style= "font-weight: light; font-style: italic"><strong>{{user}}</h1>

    	</div>
    </div>



		
	
</div>

{% endblock %}


