{% extends 'base.html' %}
{% load static %}

{% block title %}{{page_title}}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}" title="light" />
<link rel="stylesheet" href="{% static 'css/style2.css' %}" title="dark" />
{% endblock %}  
   
   
{% block content %}


<div class="container" style="margin-top: 100px;">

	    
    <div style="text-align: center;">
    	<div class="display-1" style="font-weight: bold; font-style: italic; color: white; -webkit-text-stroke: 4px #7A6660; ">{{page_title}}</div>    	

    	<div class=transbox>
    		<h1 style= "font-weight: light; font-style: italic"><strong>{{user}}</h1>

    	</div>

    
	<div class="myBox" style=" height: 130px;">
		<form id = "input-form" method="POST">
			{% csrf_token %}


				<label for="username">Username: </label>
		        <input  type="text" name="username" id="username">
		        <br>
		        <label for="password">Password: </label>
		        <input type="password" name="password" id="password">
		        <br>

		        <button class="btn btn-dark " type="submit" 
		    	style= "font-weight: bold; font-style: italic" id="submit-but">Login</button>
    
		</form>
	</div>
	


	
</div>

{% endblock %}


{% block scripts %}	
{% endblock %}