{% extends 'base.html' %}
{% load static %}

{% block title %}{{page_title}}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}" title="light" />
<link rel="stylesheet" href="{% static 'css/style2.css' %}" title="dark" />
{% endblock %}  
   
   
{% block content %}


<div class="container" style="margin-top: 100px;">

	    
    <div style="text-align: center;">
    	   	

    	<div class=transbox>
    		<h1 style= "font-weight: light; font-style: italic"> Are you sure want to logout, <strong>{{user}}</strong>?</h1>

    	</div>

    </div>
		
	<form  method="POST">
		{% csrf_token %}

		
        <input class="btn btn-dark btn-block " value="Yes" type="submit" name="logout" id="logout-yes" style= "font-weight: bold; font-style: italic">

        <input class="btn btn-dark btn-block " value="No" type="submit" name="logout" style= "font-weight: bold; font-style: italic">
	    
	</form>


	
</div>

{% endblock %}


{% block scripts %}	
{% endblock %}