{% extends 'base.html' %}
{% load static %}

{% block title %}My Profile ☀{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}" title="light" />
<link rel="stylesheet" href="{% static 'css/style2.css' %}" title="dark" />
{% endblock %}  
   
   
{% block content %}


<div class="container" style="margin-top: 100px;">

	    
    <div style="text-align: center;">
    	<div class="display-1" style="font-weight: bold; font-style: italic; color: white; -webkit-text-stroke: 4px #7A6660; ">My Profile</div>    	

    	<div class=transbox>
    		<h1 style= "font-weight: light; font-style: italic"><strong>Yasmin</strong> Adelia Puti Chaidir</h1>

    	</div>
    </div>


	<div class="row">


		<div class="col-lg-4" align="middle">

			<div>

				
				<img alt="Profile photo" class="photo img-fluid" src="https://live.staticflickr.com/65535/48698361713_e260db12c4_m.jpg">
				
			</div>

		</div>

		<div class="col-lg-8" align="middle">


			<div>
					
				<ul class="accordion child">

					<li class='acc-list'>
						 <a class="panels" href="#">Activities</a>
						 <ul class="inside">
						     <li>Studying computer science</li>
						     <li>Photography</li>
						     <li>Watching movies</li>
						     
						 </ul>
					</li>

					<li class='acc-list'>
						<a class="panels" href="#">Experiences</a>
						<ul class="inside">

							<li>Staff of Documentation ~ SIWAK-NG 2019</li>
							<li>Staff of Muslimah Center ~ FUKI 2019</li>
							<li>Staff of Documentation ~ CGT 2019</li>
						   
						</ul>
					</li>

					<li class='acc-list'>
						<a class="panels" href="#">Achievements</a>
						<ul class="inside">
						    <li>Got in to Computer Science UI is my only achievement. Thank you.</li>
						    
						</ul>
					</li>

	            </ul>
			        
			</div>

		</div>
	</div>
		
	
</div>

{% endblock %}


{% block scripts %}	

<script src="{% static 'js/accordion.js' %}"></script>

{% endblock %}